/* NOTE layer 1 */

@tailwind base;


/* NOTE layer 2 */

@tailwind components;

/* render before tailwind utilities */
.filbtn{
  @apply  px-5 py-2 rounded-lg border border-prime border-opacity-50 text-prime
}
.outbtn{
  @apply  px-5 py-2 rounded-lg border border-prime border-opacity-50 text-prime
}


/* NOTE layer 3 */

@tailwind utilities;
/* add only when you want to over write utilities class properties  */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* change the layer name where u want to show the css */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.login-main{
  background-image:radial-gradient(66.55% 66.5% at 50% 0%, #EFF6FF 0%, rgba(219, 234, 254, 0.00) 100%);

}

